{% extends "base.html" %}

{% block title %}Glanc1ng - About - Stats{% endblock %}

{% block regularpage %}

<h1>Stats</h1>

<table class="table">
	<tr>
		<td><p>Registered users</p></td>
		<td><p>{{ registered_users }}</p></td>
		<td><p class="text-muted">Users who have actively registered using Twitter</p></td>
	</tr>
	<tr>
		<td><p>Groups</p></td>
		<td><p>{{ groups }}</p></td>
		<td><p class="text-muted">Registered users who have added one or more people to their group</p></td>
	</tr>
	<tr>
		<td><p>Unique names</p></td>
		<td><p>{{ all_users }}</p></td>
		<td><p class="text-muted">Registered users, plus unregistered "users" added to the groups of registered users via their Twitter display names</p></td>
	</tr>
	<tr>
		<td><p>Group memberships</p></td>
		<td><p>{{ memberships }}</p></td>
		<td><p class="text-muted">Total number of names added to all groups (not unique)</p></td>
	</tr>
	<tr>
		<td><p>Group memberships of registered users</p></td>
		<td><p>{{ memberships_of_registered_users }}</p></td>
		<td><p class="text-muted">Number of times registered users have been added to groups (not unique)</p></td>
	</tr>
	<tr>
		<td><p>Reciprocated group memberships</p></td>
		<td><p>{{ reciprocated_memberships }}</p></td>
		<td><p class="text-muted">Of all group memberships, above, how many are reciprocated (will always be an even number)</p></td>
	</tr>
	<tr>
		<td><p>Mean group size</p></td>
		<td><p>{{ mean_formed_group_size }}</p></td>
		<td><p class="text-muted">Mean size of groups including the convener, only counting groups where one or more members have been added</p></td>
	</tr>
	<tr>
		<td><p>Glances made to date</p></td>
		<td><p>{{ sent_glances }}</p></td>
		<td><p class="text-muted">Number of times the "Glance"/"Glance again" button has been pressed. Note: This is since the 30 December reset</p></td>
	</tr>
	<tr>
		<td><p>Noticed glances to date</p></td>
		<td><p>{{ noticed_glances }}</p></td>
		<td><p class="text-muted">Number of glances received by registered users, meaning that the glancer follows the receiver on Twitter, and the receiver has their sender in their Glanc1ng group. Note: This is since the 30 December reset</p></td>
	</tr>
</table>

{% endblock %}