<!DOCTYPE html>
<html lang="en">
	<head>
	<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		{% if current_user.is_authenticated() %}
			Signed in! <a href="/logout">Sign out</a>
			<hr />
		{% endif %}
		
		{% with messages = get_flashed_messages() %}
		
	    {% if messages %}
		<div class="messages">
	    <ul>
	    {% for message in messages %}
	        <li>{{ message }} </li>
	    {% endfor %}
	    </ul>
		</div>
	    {% endif %}
	
	    {% endwith %}
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
