{% extends "base.html" %}

{% block title %}Glanc1ng - Edit group{% endblock %}
{% block regularpage %}

<h1>Edit group</h1>

<p>Pay special attention to these people. You'll notice whenever they glance at their Twitter friends (provided you're one of their Twitter friends).</p>

<table class="table">
	{% for group_member in lookin_at %}
		<tr>
			<td>{{ group_member.looking_at_twitter_display_name|safe }}</td>
			<td>
			<form method="POST" action="{{ url_for('group_member_remove', member=group_member.looking_at_twitter_display_name[1:]) }}">
				{{ remove_form.hidden_tag() }}
				<input type="submit" value="Remove">
			</form>
			</td>
		</tr>
	{% endfor %}
		<form method="POST">
		{{ add_form.hidden_tag() }}
		<tr>
			<td>
				{{ add_form.twitter_display_name|safe }}
				{% if add_form.twitter_display_name.errors %}
				{% for error in add_form.twitter_display_name.errors %}
				<br><span class="label label-warning">Whoops!</span> {{ error }}
				{% endfor %}
				{% endif %}
			</td>
			<td><input type="submit" value="Add">
		</tr>
		</form>
</table>

<p><a href="{{url_for('index') }}">All done!</a></p>

{% endblock %}