{% extends "base.html" %}

{% block title %}Glanc1ng{% endblock %}

{% block navbar %}
<nav class="navbar" role="navigation"></nav>
{% endblock %}

{% block regularpage %}

<div class="jumbotron">
	<h1>I&rsquo;m ok, you&rsquo;re&nbsp;ok&nbsp;:)</h1>
	<p>Glanc1ng is an online experiment in eye contact and small groups.</p>
<form action="{{ url_for('social.login', provider_id='twitter') }}" method="POST">
  <button class="btn btn-primary btn-lg" type="submit">Sign in with Twitter</button>
</form>
</div>

<h3>What will happen when I sign in?</h3>

<p>Use Glanc1ng to let your Twitter friends know that someone is thinking about them. After you sign in, you'll see a "Glance" button: Hit that and when anyone you follow on Twitter visits this site, they'll see they've been glanced at. It's anonymous, all they'll know is that someone, somewhere, counts them as a friend. They won't see your name. Except if...</p>

<p>After you sign in, you can make a group of people to pay special attention to. Your group could be close friends, coworkers, or maybe just a loved one -- a group of one. When one of your group glances, if that person follows you on Twitter (and only then), you'll see their name. And then you can glance back. And so on, back and forth.</p>

<h3>Is that it?</h3>

<p>Yes. Sorta. Kinda. It's minimal. Glanc1ng is a work in progress, and there's more to come. <strong><a href="{{ url_for("about") }}">Learn more!</a></strong></p>

{% endblock %}