{% extends "base.html" %}

{% block title %}Glanc1ng{% endblock %}

{% block navbar %}
<nav class="navbar" role="navigation"></nav>
{% endblock %}

{% block regularpage %}

<div class="jumbotron">
	<h1>I&rsquo;m ok, you&rsquo;re&nbsp;ok&nbsp;:)</h1>
	<p>Glanc1ng is an online experiment in eye contact and small groups.</p>
<form action="{{ url_for('social.login', provider_id='twitter') }}" method="POST">
  <button class="btn btn-primary btn-lg" type="submit">Sign in with Twitter</button>
</form>
</div>

<h3>What will happen when I sign in?</h3>

<p>After you sign in, you'll be asked to list a few Twitter handles -- these could be close friends, coworkers, or maybe a loved one. This is your group. Then every time you visit this site, you can glance at your group. When you do, you'll see when each of them last glanced at you. They can do the same. And so on, back and forth.</p>

<h3>Is that it?</h3>

<p>Yes. Sorta. Kinda. It's minimal. Glanc1ng is a work in progress, and there's more to come. <strong><a href="{{ url_for("about") }}">Learn more!</a></strong></p>

{% endblock %}