{% extends "base.html" %}

{% block title %}Glanc1ng{% endblock %}

{% block navbar %}
<nav class="navbar" role="navigation"></nav>
{% endblock %}

{% block regularpage %}

<div class="jumbotron">
	<h1>I&rsquo;m ok, you&rsquo;re&nbsp;ok&nbsp;:)</h1>
	<p>Glanc1ng is an online experiment in eye contact and small groups.</p>
<form action="{{ url_for('social.login', provider_id='twitter') }}" method="POST">
  <button class="btn btn-primary btn-lg" type="submit">Sign in with Twitter</button>
</form>
</div>

<h3>What will happen when I sign in?</h3>

<p>Use Glanc1ng to let your Twitter friends know that someone is thinking about them. After you sign in, you'll see a "Glance" button: Hit that and when any of your friends visits this site, they'll see your name for 24 hours (only if you follow them on Twitter and they follow you). If they don't follow you, it's anonymous. They won't see your name.</p>

<p>You can also make a group of people to pay special attention to. Your group can be close friends, coworkers, or maybe just a loved one -- a group of one. When one of your group glances, you can see that for longer than the 24 hour limit. And then you can glance back. And so on, back and forth.</p>
<h3>Is that it?</h3>

<p>Yes. Sorta. Kinda. It's minimal. Glanc1ng is a work in progress, and there's more to come. <strong><a href="{{ url_for("about") }}">Learn more!</a></strong></p>

{% endblock %}