{% extends "base.html" %}

{% block title %}Glanc1ng{% endblock %}
{% block regularpage %}

<div class="row">
	<div class="col-md-6">
		<img class="img-responsive" src="{{ url_for('static', filename="eye/%s.png" % group_energy) }}" width="440" height="440">	
	</div>
	<div class="col-md-6">
	{% if show_group %}
		<h1>{{ unnoticed_count }} glance{% if unnoticed_count != 1 %}s{% endif %} <small>from your Twitter followers in the last 24 hours</small></h1>
			
		<p>&nbsp;</p>
		
		{% if group_size == 0 %}
		
		<p>Pay special attention to a few friends by adding them to your group. Go to <a href="{{ url_for('group') }}">Edit group</a> and add one or more people now.</p>
		
		{% else %}
		
		<p>People you're paying special attention to:</p>
		
		<table class="table">
			{% for sender, when in received_glances %}
			<tr>
				<td>{{ sender }}</td>
				<td>{{ when }}</td>
			</tr>
			{% endfor %}
			<!-- ><tr>
				<td>{{ current_user_twitter_display_name }}</td>
				<td>You last glanced just now</td>
			</tr> -->
		</table>

			{% if group_energy == 0 %}
				<p>There's no recent activity!</p>
			{% elif group_energy == 1 %}
				<p>Group energy is kinda low.</p>
			{% elif group_energy == 2 %}
				<p>Energy is picking up.</p>
			{% elif group_energy == 3 %}
				<p>Almost at maximum group energy.</p>
			{% elif group_energy == 4 %}
				<div class="panel panel-default">
					<div class="panel-body">
						<p><strong>MAXIMUM GROUP ENERGY!</strong> Start a conversation!</p>
						<a href="https://twitter.com/intent/tweet?via=glanc1ng&amp;url=http://&amp;text={{ group_tweet_text|urlencode }}" class="twitter-share-button" data-lang="en" data-size="large" data-count="none">Tweet</a>
					</div>
				</div>
			{% endif %}

			<p>&nbsp;</p>

		{% endif %}
		
		{% if transitory_glances %}
		<p>Other Twitter friends who have glanced in the last 24 hours include:</p>
		<ul>
			{% for t in transitory_glances %}
			<li>{{ t }}</li>
			{% endfor %}
		</ul>
		<p>(Maybe add them to your group so you always notice?)</p>
		<p>&nbsp;</p>
		{% endif %}
		
	{% else %}

		<p class="lead">Glanc1ng is an online experiment in eye contact and small groups.</p>
				
	{% endif %}


	{% if show_group %}
	<p>Glance again to check in on your group and Twitter friends.</p>
	{% else %}
	<p>Glance to check in on your group and Twitter friends.</p>
	{% endif %}
	
	<form method="POST" action="{{ url_for('send_glance') }}">
		{{ glance_form.hidden_tag() }}
		<button type="submit" class="btn btn-primary">Glance{% if show_group %} again{% endif %}</button>
	</form>	
	
	{% if not show_group %}
	<p>&nbsp;</p>
	<p>Or: <a href="{{ url_for('about') }}">Learn more about Glanc1ng.</a></p>
	{% endif %}
	
	</div>
</div>

{% endblock %}