{% extends "base.html" %}

{% block title %}Glanc1ng - Your group{% endblock %}
{% block regularpage %}

<div class="row">
	<div class="col-md-6">
		<img class="img-responsive" src="{{ url_for('static', filename="eye/%s.gif" % group_energy) }}" width="440" height="440">	
	</div>
	<div class="col-md-6">

		<h1>Your group</h1>

		{% if received_glances %}

		<table class="table">
			{% for sender, when in received_glances %}
			<tr>
				<td>{{ sender }}</td>
				<td>{{ when }}</td>
			</tr>
			{% endfor %}
			<tr>
				<td>{{ current_user_twitter_display_name }}</td>
				<td>You last glanced just now</td>
			</tr>
		</table>

		{% if group_energy == 0 %}
			<p>There's no recent activity!</p>
		{% elif group_energy == 1 %}
			<p>Group energy is kinda low.</p>
		{% elif group_energy == 2 %}
			<p>Energy is picking up.</p>
		{% elif group_energy == 3 %}
			<p>Almost at maximum group energy.</p>
		{% elif group_energy == 4 %}
			<div class="panel panel-default">
				<div class="panel-body">
					<p><strong>MAXIMUM GROUP ENERGY!</strong> Start a conversation!</p>
					<a href="https://twitter.com/intent/tweet?via=glanc1ng&amp;url=http://&amp;text={{ group_tweet_text|urlencode }}" class="twitter-share-button" data-lang="en" data-size="large" data-count="none">Tweet</a>
				</div>
			</div>
		{% endif %}

		<p>Glance to see if anything's changed.</p>
		<form method="POST" action="{{ url_for('do_glance') }}">
			{{ glance_form.hidden_tag() }}
			<button type="submit" class="btn btn-primary">Glance again</button>
		</form>

		{% else %}

		<p>You need friends to glance at!</p>

		<p>Go to <a href="{{ url_for('group') }}">Edit group</a> and add one or more people.</p>
		
		{% endif %}

	</div>
</div>

{% endblock %}